/* Base Styles -------------------- */

* {
  font-family: 'Nunito', sans-serif;
  color: #97C30A;
  background-color: black;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
}

header img {
  vertical-align: middle;
}

header {
  text-align: center;
}

body {
  color: #555555;
  font: Helvetica, sans-serif;
  padding: 0px 10px;
}

h1, h2, h3 {  
  color: #FF717E;
}

figure {
  margin: 0px;
}

button {
    margin-top: 20px;
    background-color: #97C30A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
 }

table, th, td {
  padding: 5px;
  width: 150px;
}

footer {
  padding-top: 30px;
  color:  #97C30A;
  font-style: italic;
  font-size: 0.8rem;
  
}

/* Exceptions -------------------- */

.typo {
  color: #C0BCB6;
  font-weight: bold;
  font-stretch: extra-expanded;
}